@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5 rounded shadow-lg" style="background-color: white;">
    <div class="container-fluid ">
        <div class="row">
            <div class="col">
                <h3 class="mt-3 text-center">Grupo 5: Trabajo N°1 Redes y Comunicación de Datos</h3>
                <strong class="mt-3">Trabajo WebService SOAP: </strong>
                <p class="mt-3">
                    
                    Contiene dos funciones, la casilla Rut recibe la parte entera de un rut y devuelve dígito verificador.
                    Y la casilla Nombres recibe un nombre y devuelve una estructura jerárquica.
                </p>
                <hr>
                <h3 class="mt-3 text-center">Integrantes:</h3>
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li><a class="text-dark" href="https://github.com/Axel-Brito">Axel Matías Brito González</a> </li>
                        </ul>
                        <ul>
                            <li><a class="text-dark" href="https://github.com/Cris-Rider">Cristóbal Andrés González Gárate</a> </li>
                        </ul>
                        <ul>
                            <li> <a class="text-dark" href="https://github.com/francisco-dh">Francisco Andrés Díaz Hernández</a> </li>
                        </ul>
                        <ul>
                            <li><a class="text-dark" href="https://github.com/alonsopinoo">Alonso Andres Pino Chung</a> </li>
                        </ul>
                        <ul>
                            <li><a class="text-dark" href="https://github.com/valentinalarcon">Valentina Ignacia Tobar Alarcón</a> </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>
                                <a class="text-dark" href="https://github.com/valentinalarcon/webservice">Repositorio en GitHub</a>
                            </li>
                        </ul>
                    </div>
                </div>
                         
            </div>
        </div>
    </div>
</div>
