
@{ ViewBag.title = "Nombres";
}

<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-ms-11 col-lg-8 bg-white rounded border shadow-sm mx-1 mb-3 mb-lg-0">
            <h3 class="text-uppercase font-weight-bold my-4">Estructurar el nombre completo</h3>
            <hr>
            <p class="text-justify  mt-2">
                Debes ingresar tu Nombre completo, nombres primero y luego los apellidos separados por un espacio.
            </p>
            <p class="text-justify mb-2">
                La función retornara tu Nombre completo estructurado jerarquicamente.
            </p>
            <hr>
            <form action="/Home/RespuestaNombres" method="POST">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="Nombre">Ingrese su nombre completo separado por espacios :</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Cristobal Andres Gonzalez Garate" name="Nombre">
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn text-white my-3" style="background-color: #4361ee;">Enviar</button>
                </div>
            </form>

        </div>    
        
    </div>
</div>
<br>
<br>