@model WebClientSOAP.Models.NombresModel
@{
    ViewBag.title = "Nombres";
}

<h2>Aqui va el nombre separado:</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="text-center text-secondary font-weight-bold my-4">@Model.Nombre</h1>