@model WebClientSOAP.Models.NombresModel
@{
    ViewBag.title = "Nombres";
}

<div class="container mt-5 rounded shadow-lg" style="background-color: white;">
    <div class="container-fluid ">
        <div class="row">
            <div class="col">
                <h2 class="mt-3">Su nombre ordenado jerarquicamente es:</h2>
                <br>
                <br>

                <h1 class="text-center text-secondary text-dark my-4">@Model.Nombre</h1>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
