@model WebClientSOAP.Models.RutModel
@{
    ViewBag.title = "Rut";
}

<h2>Aqui va el rut con su dv</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="text-center text-secondary font-weight-bold my-4">@Model.Rut</h1>