@{
    ViewBag.title = "Rut";
}


<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-11 col-ms-11 col-lg-4 bg-white rounded border shadow-sm mx-1 mb-3 mb-lg-0">
            <h3 class="text-uppercase font-weight-bold my-4">Rut</h3>
            <hr>
            <p class="text-justify my-2 py-3">
               Aqui debes ingresar tu rut sin el dígito verificador y se te retornara tu rut con el digito verificador correcto.
            </p>
        </div>
        <div class="col-11 col-ms-11 col-lg-7 bg-white rounded border shadow-sm mx-1">
            <div class="row d-flex justify-content-center pt-4">
                <div class="col-8">
                    <form action="/Home/RespuestaRut" method="POST">
                        <div class="form-group">
                            <label for="Rut">Ingrese un rut :</label>
                            <input type="number" class="form-control form-control-sm" placeholder="12.345.678-9" name="Rut">
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn text-white my-3" style="background-color: #4361ee;">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>